<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="./lib/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="./lib/nv.d3.js"></script>
    <script src="./lib/stream_layers.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #chart, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<div id="chart">
    <svg id ="svg"></svg>
</div>
<button id="generate">Save as SVG</button>
<canvas id="canvas"></canvas>
<script src="../scripts/FileSaver.js"></script>
<script>
  var data = <%- JSON.stringify(datajson) %>
  var DOMURL = self.URL || self.webkitURL || self;
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            //.staggerLabels(historicalBarChart[0].values.length > 8)
            .showValues(true)
            .duration(250)
            ;

        var width = '100%';
        var height = '100%';
        var svg = d3.select('#chart svg')
          .attr('width', width)
          .attr('height',height);
        d3.select('#chart svg')
            .datum([data])
            .call(chart);
        nv.utils.windowResize(chart.update);
        
        d3.select("#generate")
            .on("click", writeDownloadLink);

        function writeDownloadLink(){
            try {
                var isFileSaverSupported = !!new Blob();
            } catch (e) {
                alert("blob not supported");
            }

            var html = d3.select("svg")
                .attr("title", "test2")
                .attr("version", 1.1)
                .attr("xmlns", "http://www.w3.org/2000/svg")
                .node().parentNode.innerHTML;

            var blob = new Blob([html], {type: "image/svg+xml"});
            saveAs(blob, "barGraph.svg");
        };
          return chart;
    });
;

</script>
</body>
</html>